<header class="grid-cols-2 h-80vh border-1-b">
    <div id="{{ page.img_bg }}" class="s-hidden l-block s-col-span-2 l-col-span-1"></div>
    <div class="flex flex-col s-col-span-2 l-col-span-1 border-1-l">
        <nav class="flex l-p-16 justify-between border-1-b">
            <p class="text-sm bold gray-12">beneathopenskies</p>
            <ul class="flex gap-8 items-center">
                <li class="s-hidden m-block"><a href="{{ page.link_collection }}" class="tag text-s bold gray-12">{{ page.active_collection }}</a></li>
                <li class="text-sm italic gray-12">in</li>
                <li><a href="{{ site.baseurl }}" class="tag text-s bold gray-12">All collections</a></li>
            </ul>
        </nav>
        <div class="flex flex-col h-100 l-p-32 justify-center">
            <p class="text-sm text-center font-semibold italic gray-12">Post</p>
            <h1 class="s-mt-16 m-mt-24 text-3xl font-medium text-center primary-12">{{ page.title }}</h1>
            <p class="s-mt-16 m-mt-24 l-mt-32 text-sm text-center font-semibold gray-12"><span class="italic">by </span><span class="bold">{{ page.author }}</span><br>{{ page.displayed_date }}</p>
        </div>
    </div>
</header>