<header class="flex h-80vh">
    <div id="{{ page.img_bg }}" class="flex flex-col w-100vw justify-items-center">
        <ul class="grid s-p-12 m-p-16 l-p-24 border-b gray-96">
            <li class="s-col-span-3 m-col-span-3 l-col-span-4 text-sm font-semibold gray-96">Manu's Travel</li>
            <li class="s-col-span-3 m-col-span-9 l-col-span-8 flex justify-self-end">
                <ul class="flex gap-8">
                    <li><a href="/index.html" class="link text-sm gray-96">All collections</a></li>
                    <li class="s-hidden m-block text-sm gray-96">/</li>
                    <li class="s-hidden m-block"><a href="{{ page.link_collection }}" class="link text-sm gray-96">{{ page.active_collection }}</a></li>
                    <li class="s-hidden m-block text-sm gray-96">/</li>
                    <li class="s-hidden m-block text-sm font-semibold gray-96">{{ page.title }}</li>
                </ul>
            </li>
        </ul>
        <div class="container grid s-col-span-2 w-auto h-inherit items-center s-px-16 m-px-24 l-px-0">
            <div class="flex flex-col s-col-span-6 m-col-span-12 l-col-span-12">
                <p class="text-sm text-center font-semibold gray-96">Article {{ page.article }}</p>
                <h1 class="s-mt-16 m-mt-24 text-2xl font-medium text-center primary-88">{{ page.title }}</h1>
                <p class="s-mt-16 m-mt-24 l-mt-32 text-sm text-center font-semibold gray-96">Day {{ page.day_start }} <span class="italic">to</span> {{ page.day_end }}</p>
            </div>
        </div>
    </div>
</header>