{% include post/post-intro.html %}
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210401-120212.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210401-120236.jpg' | relative_url }}">
</div>
<div class="grid-cols-2 gap-8 s-mt-8">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210401-123952.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210401-123918.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-sm gray-12"><span class="font-bold gray-12">Fig.1, Fig.3 </span>{{ splitted_content[2] | strip_html }}</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[3] | strip_html }}<br><br>{{ splitted_content[4] | strip_html }}</p>
    </div>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210401-145539.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210401-154530.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[5] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210401-192712.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210401-163250.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20210402-080321.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20210402-085631.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[6] | strip_html }}<br><br>{{ splitted_content[7] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210402-121439.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-sm gray-12"><span class="font-bold gray-12">Fig.1</span>{{ splitted_content[8] | strip_html }}</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[9] | strip_html }}</p>
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210402-151856.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210402-151350.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[10] | strip_html }}<br><br>{{ splitted_content[11] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210403-092536.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20210403-105509.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[12] | strip_html }}<br><br>{{ splitted_content[13] | strip_html }}</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210403-182940.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210403-185120.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[14] | strip_html }}<br><br>{{ splitted_content[15] | strip_html }}</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210404-101348.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210404-111442.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[16] | strip_html }}<br><br>{{ splitted_content[17] | strip_html }}<br><br>{{ splitted_content[18] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210405-081034.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[19] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210405-133016.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210405-153140.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[20] | strip_html }}<br><br>{{ splitted_content[21] | strip_html }}<br><br>{{ splitted_content[22] | strip_html }}<br><br>{{ splitted_content[23] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210405-154212.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[24] | strip_html }}<br><br>{{ splitted_content[25] | strip_html }}</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210406-084812.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210406-171511.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[26] | strip_html }}<br><br>{{ splitted_content[27] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210406-155036.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210406-175952.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[28] | strip_html }}</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210407-111911.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210407-112027.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[29] | strip_html }}</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210407-151728.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210407-190613.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[30] | strip_html }}<br><br>{{ splitted_content[31] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210407-190658.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[32] | strip_html }}</p>
</section>