<section class="grid s-px-16 m-px-24 l-px-0 s-mt-64 m-mt-96 l-mt-128">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-16 content-w justify-self-center text-lg bold gray-12">{{ page.intro }}</p>
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-16 content-w justify-self-center text-lg gray-12">The train was at 9:13 this morning. I was late; I had to speed among cars and bikes in Nantes to arrive on time. I did, but a minute before the train departed, I realized I had forgotten my lock. And so I quickly left the train and went back home, only to catch the next train 2 hours later. A<span class="italic"> bourgeoise </span>talked to me for about an hour on the train. I heard all the clichés I could ever think of.<br>Later that day, I strolled in the beautiful streets of Bourges and visited the cathedral before leaving town. The tracks were not very interesting at first, but once along the River Cher, it became much better. I stopped in a town for a mandatory <span class="italic"> Orangina</span>. The temperature started to cool down in the evening, but according to the local pharmacy, it was still 39°C at 18:30.</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230906-160415.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20230906-172801.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-md gray-12"><span class="bold gray-12">Fig.1 </span>Capital of France during the time of Charles VII, Bourges became a busy commercial center in the 15th century. In its center stands the Saint Etienne Cathedral, a World Heritage Monument.</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">Along the river Cher, tracks made way for small asphalted roads. I crossed a hamlet reminding me of what I imagine some remote towns in the USA look like: paper homes, broken cars, piles of stuff, and flags.<br><br>At 20:00, I crossed a small village and noticed a few guys on the roadside terrace of a bar. I kept going, only to find a camp spot 500m further down. Five minutes later, I was at the bar enjoying a cold but fairly disgusting beer. The atmosphere was serene. I went back to the spot right when the sun sunk down below the horizon. The light was beautiful. I set up camp next to the river, not far from the village and the road. While cooking, a lot of mosquitoes arrived, and many managed to enter the tent when I jumped in it. Now, at 21:45, the temperature has thankfully gone down a lot.</p>
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230906-185658.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230906-180533.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20230906-201408.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20230906-194544.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">Despite the flatness of the route, the heat made it difficult. The morning light and temperature were fantastic, but by 11:30, it was already hot. Thankfully, most of the ride was under the shade, next to the Canal du Berry, stretching all the way to Montluçon. I went through several hamlets with the typical houses from the region, and their beautiful reddish rooftops. Once in Montluçon, A man offered me his water bottle to cool down when he saw me using the fountain for that effect.</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230907-102014.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230907-105238.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">The last section of the <span class="italic"> voie verte </span>led me to Néris-les-Bains, a thermal town with amazing buildings, but such a right-wing vibe with bicycle interdictions pretty much everywhere that's not a road. Two stunning bridges ran above the valley below.</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230907-102702.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230907-123937.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-md gray-12"><span class="bold gray-12">Fig.2 </span>The Canal de Berry is a disused canal in France which links the Canal latéral à la Loire at Marseilles-lès-Aubigny with the Cher at Noyers rejoining the Loire near Tours.</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">Eventually, I left this last town and climbed all the way to a pine forest where I set up camp, well past sunset. I'm exhausted today; it was tough, though I was hungry enough to eat a whole plate of pasta with bell pepper, tomatoes, and pesto. I drank 3 liters of water, 1 liter of orange juice, and 33cl of Orangina. I peed twice.</p>
    </div>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230907-193622.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230907-193728.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">Last night, I forgot to write down my thoughts, so I'll try to remember. The spot had been great; I slept well and started early. The dusk was beautiful. I left the GR at some point and joined a quiet road to Echassières, a lovely little village. The valley leading to Veauce was fantastic. I didn't expect such a gravel path in such a place. The castle seemed impressive, but trees blocked the view. It was hot when I reached the bottom point of the day, at the River Sioule. On its shore stands Ebreuil. I ordered an Orangina at the terrace and charged my phone in the meantime.</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230908-091646.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230908-080033.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">When I arrived in Champs, I recognized the village where I stopped a few months ago, under very different weather. It’s always a nice feeling to return to a familiar place, from a different route, and at a different time of the year. I took the decision to reach the next valley even though I knew spots would be hard to find. I found one after sunset.</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230908-141918.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230908-182503.jpg' | relative_url }}">
</div>