<section class="grid s-px-16 m-px-24 l-px-0 s-mt-64 m-mt-96 l-mt-128">
	{% include post/post-intro.html content_index=0 %}
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-line.html content_index=1 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240622-184145.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240622-185721.jpg' | relative_url }}">
	</div>
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20240622-190822.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20240622-191049.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=2 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240622-191800.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240622-193423.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=3 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
	<img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20240622-203141.jpg' | relative_url }}">
	<img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20240622-204050.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=4 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240622-213801.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20240622-213852.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=5 %}
</section>
<div class="flex justify-center">
	<img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240622-222630.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=6 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
	<img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20240623-080905.jpg' | relative_url }}">
	<img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20240623-085942.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=7 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240623-092503.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240623-094552.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=8 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240623-104001.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20240623-104025.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=9 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
	<img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20240623-112923.jpg' | relative_url }}">
	<img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20240623-114422.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=10 %}
</section>