{% include post/post-intro.html %}
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230917-070741.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230916-195306.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20230917-083636.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20230917-085103.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=2 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230917-100930.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230917-105249.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-md gray-12"><span class="bold gray-12">Fig.1 </span>{{ splitted_content[3] | strip_html }}</p>
        {% include post/post-default-paragraph.html content_index=4 %}
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230917-092143.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230917-094443.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20230917-111150.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20230917-111219.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=5 %}
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230917-113046.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20230917-115337.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=6 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230917-133551.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230917-185256.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=7 %}
</section>