{% include post/post-intro.html %}
{% include imgcomp-4-land-port.html %}
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-sm gray-12"><span class="font-bold gray-12">Fig.1</span> {{ splitted_content[2] | strip_html }}<br><br><span class="font-bold gray-12">Fig.3</span> {{ splitted_content[3] | strip_html }}</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[4] | strip_html }}</p>
    </div>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210323-181054.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[5] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210324-092104.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[6] | strip_html }}</p>
</section>
{% include imgcomp-2-land-n1.html %}
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">
        {{ splitted_content[7] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210324-173818.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-sm gray-12"><span class="font-bold gray-12">Fig.1</span> {{ splitted_content[8] | strip_html }}</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[9] | strip_html }}</p>
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210325-182754.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210325-180349.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[10] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210328-201134.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[11] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210329-135653.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210329-134622.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-sm gray-72"><span class="font-bold gray-12">Fig.1</span> {{ splitted_content[12] | strip_html }}</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[13] | strip_html }}</p>
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210329-151837.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210329-151904.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[14] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210329-191128.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[15] | strip_html }}</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210330-125936.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210330-141757.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[16] | strip_html }}</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20210330-141921.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20210330-155746.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[17] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210330-193207.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210330-193444.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[18] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210330-193444.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[19] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210331-190955.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210331-161900.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-md gray-12">{{ splitted_content[20] | strip_html }}</p>
</section>