<div class="flex flex-col s-pb-64 m-pb-96 l-pb-128 s-col-span-6 m-col-span-12 l-col-3-11 items-center">
    <p class="text-md text-center gray-72">{{ page.intro }}</p>
    <ul class="flex flex-wrap s-mt-16 m-mt-24 l-mt-32 gap-8">
        <li><a class="flex items-center btn-secondary text-sm font-semibold secondary-88" href="https://www.komoot.com/fr-fr/collection/1877170/-bikepacking-toward-the-sahara-desert" target="blank">Komoot</a></li>
        <li><a class="flex items-center btn-secondary text-sm font-semibold secondary-88" href="https://umap.openstreetmap.fr/en/map/mighty-travels_640943" target="blank">uMap</a></li>
        <li><a class="flex items-center btn-secondary text-sm font-semibold secondary-88" href="https://www.polarsteps.com/seekout/4365113-bikepacking-toward-the-sahara-desert" target="blank">Polarsteps</a></li>
        <li><a class="flex items-center btn-secondary text-sm font-semibold secondary-88" href="https://lighterpack.com/r/ruee03" target="blank">Lighterpack</a></li>
    </ul>
</div>