{% include post/post-intro.html %}

<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240531-123124.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240531-123533.jpg' | relative_url }}">
	</div>
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20240531-124357.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20240531-125841.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=2 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240531-134410.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240531-130651.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=3 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240531-150322.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240531-151156.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=4 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
	<img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20240531-161852.jpg' | relative_url }}">
	<img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20240531-175103.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=5 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240531-185818.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240531-192106.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=6 %}
</section>
<div class="flex justify-center">
	<img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240531-210334.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=7 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-082042.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240601-093059.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=8 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-093339.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-094004.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=9 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
	<img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20240601-094756.jpg' | relative_url }}">
	<img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20240601-095922.jpg' | relative_url }}">
</div>
<div class="grid-cols-2 gap-8 s-mt-8">
	<img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20240601-100908.jpg' | relative_url }}">
	<img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20240601-100017.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-sm gray-12">
            <span class="font-bold gray-12">Fig.2 </span>
            {{ splitted_content[10] | strip_html }}
        </p>
        {% include post/post-default-paragraph.html content_index=11 %}
    </div>
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-101342.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-101428.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=12 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-110958.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-111048.jpg' | relative_url }}">
	</div>
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20240601-112214.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20240601-112331.jpg' | relative_url }}">
	</div>
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20240601-112954.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20240601-113058.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=13 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
	<img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20240601-130543.jpg' | relative_url }}">
	<img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20240601-153543.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=14 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-180436.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20240601-181005.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=15 %}
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240602-083603.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20240602-083824.jpg' | relative_url }}">
	</div>
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20240602-084202.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20240602-084405.jpg' | relative_url }}">
	</div>
</section>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-sm gray-12">
            <span class="font-bold gray-12">Fig.2 and 3 </span>
            {{ splitted_content[16] | strip_html }}
        </p>
        {% include post/post-default-paragraph.html content_index=17 %}
    </div>
</section>
<section class="flex justify-center">
	<div class="container grid gap-8">
		<img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20240602-103955.jpg' | relative_url }}">
		<img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20240602-120018.jpg' | relative_url }}">
	</div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
	{% include post/post-default-paragraph.html content_index=18 %}
</section>