<section class="grid s-px-16 m-px-24 l-px-0 s-mt-64 m-mt-96 l-mt-128">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-16 content-w justify-self-center text-lg bold gray-12">I arrived at Mathilda's empty but unlocked flat right before the thunderstorms. It felt so good to wear clean clothes after a good shower. I was indeed covered with dust. Unlike last night where I was anxious about thunderstorms, I welcomed them once in the house, and watched in awe as the sky tore itself apart and rain fell down violently all evening.</p>
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-16 content-w justify-self-center text-lg gray-12">I slept well despite the wind whistling in the canopy and poking at the tent. I left early, at 7:30, with the faint hope that somehow, I could reach Brune's place, 150 kilometers further south.</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230917-070741.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230916-195306.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20230917-083636.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20230917-085103.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">Surprisingly, it hadn't rained during the night and the sky was only sparsely covered in clouds. Though, the closer I got to the pass leading down into the Cevennes, the cloudier and wetter it became. Behind, I could see the sun shining on the Causse Mejean. At the pass, the clouds rolling in a few meters above my head was stunning, like the dozens of vultures spinning above my head.</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230917-100930.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230917-105249.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-md gray-12"><span class="bold gray-12">Fig.1 </span>The Causse Méjean is a limestone plateau part of The Causses and the Cévennes UNESCO World Heritage Site.</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">After climbing half the road to the Mont Aigoual, in a beautiful lush forest lost in the clouds, I took a different road leading me down to the Mediterranean basin. The ride was fantastic, a true highlight of the trip. I couldn't see much because I was in the cloud but the "cinglante" rain and the strong wind made it quite the ride. Below the clouds, the scenery appeared as I remembered it: sharp mountains covered in pines and reddish soil and rocks, their peaks lost in the clouds. The vegetation changed, the temperature too.</p>
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230917-092143.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230917-094443.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20230917-111150.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20230917-111219.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">The ride down to Saint-Jean-du-Gard was magnificent. A true marvel. I felt what I always look for in a trip: "dépaysement," this feeling of being in a foreign place, someplace where you don't feel at home anymore, a place that marks the fact that you truly rode a lot of kilometers. It's a fantastic feeling.</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230917-113046.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20230917-115337.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">The ride to Montpellier was not as fun. The light was boring, the weather hot and humid, the traffic obnoxious and omnipresent. But, I knew I was going to get there so that was enough motivation. I was stunned when I arrived in the city: brand-new fantastic pieces of architecture along the concrete riverbank of Le Lez. Going to Lattes, it was already the blue hour but I was ecstatic, I had a lot of energy and was excited to arrive.</p>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230917-133551.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230917-185256.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">Eventually I arrived at Brune's place. Beer, food, chill, and laughs.</p>
</section>