<header class="grid-cols-2 h-80vh s-border-1-b">
    <div id="{{ page.img_bg }}" class="s-hidden l-block s-col-span-2 l-col-span-1"></div>
    <div class="flex flex-col s-col-span-2 l-col-span-1 l-border-1-l">
        <nav class="flex s-p-8 m-p-12 l-p-16 justify-between s-border-1-b">
            <p class="self-center text-sm font-bold gray-12">{{ site.title }}</p>
            <ul class="flex gap-8 items-center">
                <li class="s-hidden m-block"><a href="{{ page.link_collection }}" class="btn-secondary">{{ page.active_collection }}</a></li>
                <li class="text-sm italic gray-12">in</li>
                <li><a href="{{ '/' | relative_url }}" class="btn-secondary">All collections</a></li>
            </ul>
        </nav>
        <div class="flex flex-col h-100 s-p-16 m-p-24 l-p-32 justify-center items-center">
            <p class="text-center text-xs font-bold">{{ page.article_no }}</p>
            <h1 class="s-mt-16 m-mt-24 l-mt-32 text-center text-2xl italic uppercase primary-12">{{ page.title }}</h1>
            <p class="s-mt-16 m-mt-24 l-mt-32 text-center text-sm gray-12"><span class="italic">by </span><span class="font-bold">{{ page.author }}</span><br>{{ page.displayed_date }}</p>
            <p class="s-mt-8 w-fit badge bg-gray-12 text-xs font-bold gray-96">{{ page.tag }}</p>
        </div>
    </div>
</header>