{% include post/post-intro.html %}
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210317-190722.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-md gray-12"><span class="bold gray-12">Fig.1 </span>{{ splitted_content[2] | strip_html }}</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-32 m-mt-64 l-mt-96 content-w justify-self-center text-lg gray-12">{{ splitted_content[3] | strip_html }}</p>
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 s-mt-16 m-mt-24 l-mt-32 content-w justify-self-center text-lg gray-12">{{ splitted_content[4] | strip_html }}</p>
    </div>
</section>
{% include imgcomp-4-land-port.html %}
<section class="grid s-px-16 m-px-24 l-px-0 s-mt-32 m-mt-64 l-mt-96">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 content-w justify-self-center text-lg gray-12">{{ splitted_content[5] | strip_html }}</p>
</section>
{% include imgcomp-2-land-n1.html %}
<section class="grid s-px-16 m-px-24 l-px-0 s-mt-32 m-mt-64 l-mt-96">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 content-w justify-self-center text-lg gray-12">{{ splitted_content[6] | strip_html }}</p>
</section>
<div class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210318-194905.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0 s-mt-32 m-mt-64 l-mt-96">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 content-w justify-self-center text-lg gray-12">{{ splitted_content[7] | strip_html }}</p>
</section>
{% include imgcomp-2-land-n2.html %}
<section class="grid s-px-16 m-px-24 l-px-0 s-mt-32 m-mt-64 l-mt-96">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 content-w justify-self-center text-lg gray-12">{{ splitted_content[8] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <img class="container s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210319-203157.jpg' | relative_url }}">
</section>
<section class="grid s-px-16 m-px-24 l-px-0 s-mt-32 m-mt-64 l-mt-96">
    <p class="s-col-span-6 m-col-span-12 l-col-3-11 content-w justify-self-center text-lg gray-12">{{ splitted_content[9] | strip_html }}</p>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20210322-174829.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20210322-131957.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0 s-mt-32 m-mt-64 l-mt-96">
        <p class="s-col-span-6 m-col-span-12 l-col-3-11 content-w justify-self-center text-lg gray-12">{{ splitted_content[10] | strip_html }}</p>
    </div>
</section>