{% include post/post-intro.html %}
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230909-075519.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230909-122115.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20230909-113625.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20230909-112430.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-md gray-12"><span class="bold gray-12">Fig.2 </span>{{ splitted_content[2] | strip_html }}</p>
        {% include post/post-default-paragraph.html content_index=3 %}
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230909-170359.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-64 l-mt-96" src="{{ '/assets/img/20230909-174946.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=4 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230909-184927.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230909-192444.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=5 %}
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230910-072751.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230910-072851.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=6 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230910-081908.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230910-123226.jpg' | relative_url }}">
</div>
<div class="grid-cols-2 gap-8 s-mt-8">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230910-140658.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230910-152701.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-md gray-12"><span class="bold gray-12">Fig.2 </span>{{ splitted_content[7] | strip_html }}</p>
        {% include post/post-default-paragraph.html content_index=8 %}
    </div>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230910-172941.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230910-192807.jpg' | relative_url }}">
</div>
<section class="flex justify-center">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        <p class="s-col-span-6 m-col-span-12 l-col-1-3 s-mt-16 m-mt-24 l-mt-96 text-md gray-12"><span class="bold gray-12">Fig.2 </span>{{ splitted_content[9] | strip_html }}</p>
        {% include post/post-default-paragraph.html content_index=10 %}
    </div>
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230911-071515.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230910-201315.jpg' | relative_url }}">
</div>
<div class="grid-cols-2 gap-8 s-mt-8">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230911-071543.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230911-072859.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=11 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230911-084029.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230911-084813.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=12 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230911-090526.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230911-091351.jpg' | relative_url }}">
</div>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=13 %}
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ '/assets/img/20230911-104009.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ '/assets/img/20230911-152247.jpg' | relative_url }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ '/assets/img/20230911-174704.jpg' | relative_url }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ '/assets/img/20230911-175500.jpg' | relative_url }}">
    </div>
</section>
<section class="grid s-px-16 m-px-24 l-px-0">
    {% include post/post-default-paragraph.html content_index=14 %}
</section>
<div class="grid-cols-2 gap-8 s-mt-32 m-mt-64 l-mt-96">
    <img class="s-col-span-2 m-col-span-1" src="{{ '/assets/img/20230911-184038.jpg' | relative_url }}">
    <img class="s-col-span-2 m-col-span-1 s-mt-8 m-mt-0" src="{{ '/assets/img/20230911-194254.jpg' | relative_url }}">
</div>