<section class="flex justify-center s-py-32 m-py-48 l-py-64 s-border-1-t">
    <div class="container s-px-16 m-px-24 l-px-32">
        <h3 class="text-xl gray-12">Statistics</h3>
        <ul class="s-mt-8 m-mt-16 l-mt-32">
            <li class="s-py-16 l-py-24 gray-12">
                <ul class="grid-cols-2">
                    <li class="s-col-span-1 text-sm font-bold gray-12">Duration</li>
                    <li class="s-col-span-1 text-sm gray-12 text-right">{{ page.statistics_duration }}</li>
                </ul>
            </li>
            <li class="s-py-16 l-py-24 s-border-1-t gray-12">
                <ul class="grid-cols-2">
                    <li class="s-col-span-1 text-sm font-bold gray-12">Distance</li>
                    <li class="s-col-span-1 text-sm gray-12 text-right">{{ page.statistics_distance }}</li>
                </ul>
            </li>
            <li class="s-py-16 l-py-24 s-border-1-t gray-12">
                <ul class="grid-cols-2">
                    <li class="s-col-span-1 text-sm font-bold gray-12">Total ascent</li>
                    <li class="s-col-span-1 text-sm gray-12 text-right">{{ page.statistics_ascent }}</li>
                </ul>
            </li>
            <li class="s-py-16 l-py-24 s-border-1-t gray-12">
                <ul class="grid-cols-2">
                    <li class="s-col-span-1 text-sm font-bold gray-12">Highest elevation</li>
                    <li class="s-col-span-1 text-sm gray-12 text-right">{{ page.statistics_highest_elevation }}</li>
                </ul>
            </li>
            <li class="s-py-16 l-py-24 s-border-1-t gray-12">
                <ul class="grid-cols-2">
                    <li class="s-col-span-1 text-sm font-bold gray-12">Lowest elevation</li>
                    <li class="s-col-span-1 text-sm gray-12 text-right">{{ page.statistics_lowest_elevation }}</li>
                </ul>
            </li>
            <li class="s-py-16 l-py-24 s-border-1-t gray-12">
                <ul class="grid-cols-2">
                    <li class="s-col-span-1 text-sm font-bold gray-12">Surface</li>
                    <li class="s-col-span-1 text-sm gray-12 text-right">{{ page.statistics_surface }}</li>
                </ul>
            </li>
        </ul>
    </div>
</section>