<section class="flex justify-center s-pt-32 m-pt-48 l-pt-64 s-border-1-t">
    <div class="container s-px-16 m-px-24 l-px-32">
        <p class="text-xl gray-12">Articles <span class="badge relative s-top--12 text-xs font-bold bg-gray-12 gray-96">{{ page.articles_sum }}</span></p>
    </div>
</section>
<section class="flex justify-center s-pb-32 m-pb-48 l-pb-96">
    <div class="container grid s-gap-16 m-gap-24 l-gap-32 s-px-16 m-px-24 l-px-0">
        {% for post in site.categories[page.collection_id] reversed %}
          {% include article-card.html %}
        {% endfor %}
    </div>
</section>