<section class="flex justify-center l-pt-64 bg-secondary-88 border-1-t">
    <div class="container s-px-16 m-px-24">
        <p class="text-xl gray-12">Articles</p>
    </div>
  </section>
<section class="flex justify-center l-pt-32 l-pb-64 bg-secondary-88">
    <div class="container grid s-px-16 m-px-24 l-px-0">
        {% for post in site.posts reversed %}
            {% if post.active_collection == "Bikepacking Northern Spain" %}
            {% include article-card.html %}
            {% endif %}
        {% endfor %}
    </div>
</section>