<header class="flex justify-center s-pt-32 m-pt-24 l-pt-64">
    <div class="container grid items-center s-px-16 m-px-24 l-px-0">
        <img class="s-col-span-6 m-col-span-12 l-col-span-12 border-1 rounded-8" src="{{ page.img_header }}">
        <div class="flex flex-col s-col-span-6 m-col-span-12 l-col-3-11 s-pt-32 m-pt-48 l-pt-64 s-pb-32 m-pb-48 l-pb-96 items-center">
            <p class="text-center text-md italic gray-12">Collection</p>
            <div class="s-mt-16 m-mt-24 l-mt-32 self-center w-32 s-border-1-b"></div>
            <h1 class="s-mt-16 m-mt-24 l-mt-32 text-center text-3xl uppercase gray-12">{{ page.title }}</h2>
            <div class="s-mt-16 m-mt-24 l-mt-32 self-center w-32 s-border-1-b"></div>
            <p class="s-mt-16 m-mt-24 l-mt-32 text-center text-lg gray-12">{{ page.content }}</p>
        </div>
    </div>
</header>