<footer class="flex justify-center gray-32 s-mt-32 m-mt-64 l-mt-96 s-pb-32">
    <div class="container s-px-16 m-px-24 l-px-0">
        <ul class="grid s-px-16 m-px-24 l-px-0">
            <li class="s-col-span-6 m-col-span-4 l-col-span-4">
            <ul>
                <li class="s-mt-8 l-mt-0 text-sm font-semibold gray-96">Links</li>
                <li class="s-mt-8 l-mt-16"><a class="link text-sm font-semibold gray-72" href="https://www.komoot.com/fr-fr/collection/1877170/-bikepacking-toward-the-sahara-desert" target="blank">Komoot</a></li>
                <li class="s-mt-8 l-mt-16"><a class="link text-sm font-semibold gray-72" href="https://umap.openstreetmap.fr/en/map/mighty-travels_640943" target="blank">uMap</a></li>
                <li class="s-mt-8 l-mt-16"><a class="link text-sm font-semibold gray-72" href="https://www.polarsteps.com/seekout/4365113-bikepacking-toward-the-sahara-desert" target="blank">Polarsteps</a></li>
                <li class="s-mt-8 l-mt-16"><a class="link text-sm font-semibold gray-72" href="https://lighterpack.com/r/ruee03" target="blank">Lighterpack</a></li>
            </ul>
        </li>
        <li class="s-col-span-6 m-col-span-4 l-col-span-4 s-mt-16 m-mt-0">
            <ul>
                <li class="s-mt-8 l-mt-0 text-sm font-semibold gray-96">Collections</li>
                <li class="s-mt-8 l-mt-16"><a href="{{ site.baseurl }}" class="link text-sm font-semibold gray-72">All collections</a></li>
                <li class="s-mt-8 l-mt-16"><a class="link text-sm font-semibold gray-72" href="{{ '/bikepacking-northern-spain.html' | relative_url }}">Bikepacking Northern Spain</a></li>
            </ul>
        </li>
        <li class="s-col-span-6 m-col-span-4 l-col-span-4 s-mt-16 m-mt-0">
            <ul>
                <li class="s-mt-8 l-mt-0 text-sm font-semibold gray-96">Articles</li>
                <li class="s-mt-8 l-mt-16"><a class="link text-sm font-semibold gray-72" href="{{ '/along-the-atlantic-coast.html' | relative_url }}">Along the Atlantic coast</a></li>
                <li class="s-mt-8 l-mt-16"><a class="link text-sm font-semibold gray-72" href="{{ '/riding-along-canals.html' | relative_url }}">From the Atlantic to the Mediterranean</a></li>
            </ul>
        </ul>
        <p class="s-mt-16 m-mt-24 l-mt-32 text-xs gray-72 text-center">© 2023 Manuel Sourdrille / Release 1.4</p>
    </div>
</footer>