<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {{ site.baseurl }}
    <link rel="stylesheet" type="text/css" href="/beneathopenskies/styles/main.css">

    <!--
    <link rel="stylesheet" href="{{ "/styles/main.css" | relative_url }}">
    -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>