<div class="s-col-span-6 m-col-span-12 l-col-span-12 s-mt-16 m-mt-24 l-mt-32 s-px-0 m-px-24 l-px-32">
    <h3 class="text-lg font-semibold gray-96">Highlights</h3>
    <ul class="grid-cols-2 s-mt-16 l-mt-24">
        <li class="l-cols-span-1">
            <ul>
                <li class="text-sm"><span class="badge font-semibold bg-primary-88 gray-16">1</span></li>
                <li class="s-mt-8 text-sm gray-96">{{ page.highlights_1_title }}</li>
                <li class="s-mt-8 text-sm gray-72">{{ page.highlights_1_description }}</li>
            </ul>
        </li>
        <li class="l-cols-span-1">
            <ul>
                <li class="text-sm"><span class="badge font-semibold bg-primary-88 gray-16">2</span></li>
                <li class="s-mt-8 text-sm gray-96">{{ page.highlights_2_title }}</li>
                <li class="s-mt-8 text-sm gray-72">{{ page.highlights_2_description }}</li>
            </ul>
        </li>
    </ul>
</div>