<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-32 m-mt-64 l-mt-96" src="{{ page.imgcomp-4-land-port_img-1 }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8 m-mt-0 self-end" src="{{ page.imgcomp-4-land-port_img-2 }}">
    </div>
</section>
<section class="flex justify-center">
    <div class="container grid gap-8">
        <img class="s-col-span-6 m-col-span-6 l-col-1-7 s-mt-8" src="{{ page.imgcomp-4-land-port_img-3 }}">
        <img class="s-col-span-6 m-col-span-6 l-col-7-13 s-mt-8" src="{{ page.imgcomp-4-land-port_img-4 }}">
    </div>
</section>