<ul class="grid s-col-span-6 m-col-span-12 s-mt-16 m-mt-24 l-mt-32 s-py-16 l-py-32 s-px-16 l-px-32">
    <li class="s-col-span-6 l-col-span-4">
        <h4 class="text-md font-semibold gray-96">Climate</h4>
        <p class="s-mt-8 m-mt-12 l-mt-16 text-md gray-72">{{ page.must-knows_climate }}</p>
    </li>
    <li class="s-col-span-6 l-col-span-4 s-mt-16 m-mt-0">
        <h4 class="text-md font-semibold gray-96">Wild camping</h4>
        <p class="s-mt-8 m-mt-12 l-mt-16 text-md gray-72">{{ page.must-knows_camping }}</p>
    </li>
    <li class="s-col-span-6 l-col-span-4 s-mt-16 m-mt-24 l-mt-0">
        <h4 class="text-md font-semibold gray-96">Water and food</h4>
        <p class="s-mt-8 m-mt-12 l-mt-16 text-md gray-72">{{ page.must-knows_nutrition }}</p>
    </li>
</ul>