<ul class="grid s-p-12 m-p-16 l-p-24 border-b gray-32">
    <li class="s-col-span-3 m-col-span-3 l-col-span-4 text-sm font-semibold gray-96">Manu's Travel</li>
    <li class="s-col-span-3 m-col-span-9 l-col-span-8 flex justify-self-end">
        <ul class="flex gap-8">
            <li><a href="#" class="link text-sm gray-96">All collections</a></li>
            <li class="s-hidden m-block text-sm gray-96">/</li>
            <li class="s-hidden m-block text-sm font-semibold gray-96">{{ page.active_collection }}</li>
        </ul>
    </li>
</ul>