<ul class="grid s-p-8 m-p-12 l-p-16 border-1-b gray-12">
    <li class="s-col-span-3 m-col-span-3 l-col-span-4 text-sm font-700 gray-12">{{ site.title }}</li>
    <li class="s-col-span-3 m-col-span-9 l-col-span-8 flex justify-self-end">
        <ul class="flex gap-8">
            <li><a href="{{ site.baseurl }}" class="link text-sm gray-12">All collections</a></li>
            <li class="s-hidden m-block text-sm gray-12">/</li>
            <li class="s-hidden m-block text-sm font-700 gray-12">{{ page.active_collection }}</li>
        </ul>
    </li>
</ul>