<img class="s-col-span-6 m-col-span-12 l-col-span-12" src="{{ page.img_map }}">
<div class="s-col-span-6 m-col-span-12 l-col-span-12 s-mt-16 m-mt-24 l-mt-32 s-py-16 l-py-32 s-px-0 m-px-24 l-px-32">
    <h3 class="text-lg font-semibold gray-96">Statistics</h3>
    <ul class="s-mt-8 m-mt-16 l-mt-32">
        <li class="s-py-16 l-py-24 border-b gray-32">
            <ul class="grid-cols-2">
                <li class="s-col-span-1 text-sm gray-96">Duration</li>
                <li class="s-col-span-1 text-sm gray-72 text-right">{{ page.statistics_duration }}</li>
            </ul>
        </li>
        <li class="s-py-16 l-py-24 border-b gray-32">
            <ul class="grid-cols-2">
                <li class="s-col-span-1 text-sm gray-96">Distance</li>
                <li class="s-col-span-1 text-sm gray-72 text-right">{{ page.statistics_distance }}</li>
            </ul>
        </li>
        <li class="s-py-16 l-py-24 border-b gray-32">
            <ul class="grid-cols-2">
                <li class="s-col-span-1 text-sm gray-96">Total ascent</li>
                <li class="s-col-span-1 text-sm gray-72 text-right">{{ page.statistics_ascent }}</li>
            </ul>
        </li>
        <li class="s-py-16 l-py-24 border-b gray-32">
            <ul class="grid-cols-2">
                <li class="s-col-span-1 text-sm gray-96">Highest elevation</li>
                <li class="s-col-span-1 text-sm gray-72 text-right">{{ page.statistics_highest_elevation }}</li>
            </ul>
        </li>
        <li class="s-py-16 l-py-24 border-b gray-32">
            <ul class="grid-cols-2">
                <li class="s-col-span-1 text-sm gray-96">Lowest elevation</li>
                <li class="s-col-span-1 text-sm gray-72 text-right">{{ page.statistics_lowest_elevation }}</li>
            </ul>
        </li>
        <li class="s-py-16 l-py-24">
            <ul class="grid-cols-2">
                <li class="s-col-span-1 text-sm gray-96">Surface</li>
                <li class="s-col-span-1 text-sm gray-72 text-right">{{ page.statistics_surface }}</li>
            </ul>
        </li>
    </ul>
</div>