<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet">
	</head>
	<body class="bg-gray-96">

	<!-- NAV -->

	<nav class="s-p-8 m-p-12 l-p-16">
		<p class="text-sm font-bold gray-12">{{ site.title }}</p>
	</nav>

	<!-- HEADER -->

	<header class="relative flex justify-center s-mt-96 m-mt-96 l-mt-192 s-top-24 m-top-48 l-top-64">
		<div class="container grid s-px-16 m-px-24 l-px-0">
		<div class="s-col-span-6 m-col-span-12 l-col-span-12">
			<h1 class="text-4xl italic uppercase text-center gray-12">Marvelling at outdoors since<sup class="text-xl italic">‘15</sup>
			</h1>
		</div>
		</div>
	</header>

	<!-- COLLECTIONS -->

	<section class="grid s-gap-0 m-gap-24 l-gap-32 m-px-24 l-px-32">
		<img class="s-col-span-6 m-col-span-12 l-col-span-12" src="{{ '/assets/img/col_bourges-to-agde.jpg' | relative_url }}">
	</section>
	<section class="flex justify-center s-px-16 m-px-24 l-px-0 s-py-16 m-py-24 l-py-32 s-pb-32 m-pb-64 l-pb-96">
		<div class="container">
			<p class="text-xs font-bold">Collection</p>
			<h4 class="s-mt-4 l-mt-8 text-xl">Along Volcanoes — Bikepacking from Bourges to Agde</h4>
			<a href="{{ 'bikepacking-bourges-agde.html' | relative_url }}" class="s-mt-8 m-mt-12 l-mt-16 button text-sm font-bold gray-12">Explore</a>
		</div>
	</section>
	<section class="grid s-gap-0 m-gap-24 l-gap-32 m-px-24 l-px-32">
		<img class="s-col-span-6 m-col-span-12 l-col-span-12" src="{{ '/assets/img/col_northern-spain.jpg' | relative_url }}">
	</section>
	<section class="flex justify-center s-px-16 m-px-24 l-px-0 s-py-16 m-py-24 l-py-32 s-pb-32 m-pb-64 l-pb-96">
		<div class="container">
			<p class="text-xs font-bold">Collection</p>
			<h4 class="s-mt-4 l-mt-8 text-xl">Infinite Climbs — Exploring Northern Spain by bike</h4>
			<a href="{{ 'bikepacking-northern-spain.html' | relative_url }}" class="s-mt-8 m-mt-12 l-mt-16 button text-sm font-bold gray-12">Explore</a>
		</div>
	</section>

	<!-- FOOTER -->
	
	{% include footer.html %}
	</body>
</html>