<!doctype html>
<html lang="en">
    {% include head.html %}
    <body class="bg-gray-12">
        {% include nav.html %}
        {% include collection-header.html %}
        {% include collection-articles.html %}
        <section class="flex justify-center s-mt-64 m-mt-96 l-mt-128">
            <div class="container grid s-px-16 m-px-24 l-px-0 border-b gray-32">
                <div class="s-col-span-6 m-col-span-12 l-col-span-12 s-py-8 l-py-16">
                    <p class="text-lg gray-96">Itinerary</p>
                </div>
            </div>
        </section>
        <section class="flex justify-center s-mt-64 m-mt-96 l-mt-128">
            <div class="container grid s-px-16 m-px-24 l-px-0 border-b s-pb-32 m-pb-48 l-pb-64 gray-32">
            {% include stats.html %}
            {% include must-knows.html %}
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>